{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
<div class="w3-container">
  <div class="w3-cell">
    <img src="{{ user.img_url }}" alt="">
  </div>

  <div class="w3-cell w3-cell-top w3-padding">
    <h3>{{ user.first_name }} {{ user.last_name }}</h3>
    <div class="w3-btn w3-ripple w3-green w3-round" onclick="document.getElementById('id01').style.display='block'">edit profile</div>
    <div class="w3-btn w3-ripple w3-red w3-round" onclick="document.getElementById('id02').style.display='block'">delete profile</div>
    <hr>
    <h3>Posts</h3>
    {% for post in posts %}
    {% if post.user_id == user.id %}
    <div class="">
      <a class="w3-btn w3-text-blue w3-padding w3-ripple" href="/post/view/{{post.id}}">{{ post.title }}</a>
    </div>
    {% endif %}
    {% endfor %}
    <div class="w3-btn w3-ripple w3-blue w3-round" onclick="document.getElementById('id03').style.display='block'">Add Post</div>
    <hr>
  </div>

</div>

<div class="w3-container w3-margin">
  <a href="/users/list">
    <div class="w3-btn w3-ripple w3-round w3-border">back to users</div>
  </a>
</div>

<!-- MODALS -->
<!-- edit user modal -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      <div class="w3-green w3-padding">
        <h3>Edit {{ user.first_name }} {{user.last_name}}</h3>
      </div>
      <form class="w3-container" action="/edit/{{user.id}}" method="post">
        <p>
          <label>First Name</label>
          <input type="text" name="first_name" value="{{user.first_name}}">
        </p>
        <p>
          <label>Last Name</label>
          <input type="text" name="last_name" value="{{user.last_name}}">
        </p>
        <p>
          <label>Image URL</label>
          <input type="text" name="img_url" value="{{user.img_url}}">
        </p>
        <button class="w3-ripple w3-round w3-right w3-green">submit changes</button>
      </form>
    </div>
  </div>
</div>

<!-- delete user modal -->
<div id="id02" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      <form class="" action="/user/delete/{{user.id}}" method="post">
        <h3>Do you really want to delete {{ user.first_name }} {{ user.last_name }}?</h3>
        <button class="w3-padding w3-red w3-right w3-ripple w3-round">delete</button>
      </form>
    </div>
  </div>
</div>

<!-- create a post modal -->
<div id="id03" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('id03').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      <form class="w3-container" action="/post/create/{{user.id}}" method="post">
        <p>
          <label>Title</label>
          <input type="text" name="title" placeholder="Add your title">
        </p>
        <p>
          <label>Post</label>
          <input type="textarea" name="content" placeholder="Add your post">
        </p>
        <button class="w3-padding w3-blue w3-right w3-ripple w3-round">post</button>
      </form>
    </div>
  </div>
</div>


{% endblock %}
